data/**/ */
big_training/**/ */
/big_training
/data
*.jpeg
.DS_Store
*.db
*.mp4
*.wav
*.jpg
*.png
/dataset_generation/recording/broker/node_modules
/dataset_generation/recording/temp/
/dataset_generation/logs/
/cache/**/ */
*.log
*__pycache__
runs/
.idea/workspace.xml
*.onnx
*.engine
cache/
tmp_dali_filelists/
wandb/
*.pickle
checkpoints_fsdp/
.cache/
GEMINI.md
CLAUDE.md
.idea/
experiments/
checkpoints*
.env
requirements.txt
unrelated*
tmp*