data/**/ */
big_training/**/ */
/big_training
/data
*.jpeg
.DS_Store
*.db
*.mp4
*.wav
gemini.md
*.jpg
*.png
/scripts/node_modules
/scripts/broker/node_modules
/cache/**/ */
*.log
*__pycache__
runs/
.idea/workspace.xml
*.onnx
*.engine
cache/
tmp_dali_filelists/
wandb/
*.pickle
checkpoints_fsdp/
.cache/
GEMINI.md
CLAUDE.md