transformers==4.57.3
lmdb
--no-binary=msgpack msgpack
msgpack-numpy
matplotlib
librosa
opencv-python
numpy<2.0
tqdm
ninja
timm
pyyaml
bitsandbytes
tensorboard
jupyterlab
ipywidgets
wandb
optuna
optuna-integration
lightning
accelerate
pytorch-lightning
